html {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Proza Libre', sans-serif;
  font-size: 18px;
  overflow: hidden;
  background-color: #9eabe4;
  background-image: radial-gradient(#9eabe4 0%, #77eed8 74%);
  height: 100%;
  line-height: 1.2;
}

button {
  font-family: 'Proza Libre', sans-serif;
  font-size: 1rem;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
}

#root {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

/* Layout */

.layout {
  position: relative;
  text-align: center;
  margin: 1rem;
  background: white;
  border-radius: 2.2rem;
  padding: 1rem;
  max-width: 18rem;
  min-height: 15rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02), 0 6.7px 5.3px rgba(0, 0, 0, 0.028),
    0 12.5px 10px rgba(0, 0, 0, 0.035), 0 22.3px 17.9px rgba(0, 0, 0, 0.042),
    0 41.8px 33.4px rgba(0, 0, 0, 0.05), 0 100px 80px rgba(0, 0, 0, 0.07);
  overflow: hidden;
}

.layout--title {
  color: #1a237e;
  margin: 0;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  font-weight: 500;
}

/* Home */

.home--nav-btn {
  position: relative;
  border: none;
  border-radius: 10rem;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  transition-duration: 0.3s;
  align-self: stretch;
  margin-top: 1rem;
  padding: 0.5rem;
  font-family: 'Proza Libre', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  outline: none;
}
.home--nav-btn svg {
  padding: 0.5rem;
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
}
.home--nav-btn:after {
  display: block;
  content: '';
  position: absolute;
  left: 0rem;
  top: 0rem;
  right: 0rem;
  bottom: 0rem;
  box-sizing: content-box;
  border-radius: 10rem;
  transition-duration: 0.3s;
  border: 0.1rem solid rgba(255, 255, 255, 0);
}
.home--nav-btn:hover:after,
.home--nav-btn:focus:after {
  border: 0.1rem solid rgba(255, 255, 255, 1);
  left: 0.3rem;
  top: 0.3rem;
  right: 0.3rem;
  bottom: 0.3rem;
}

/* List */

.list--controls {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-self: stretch;
  position: absolute;
  top: 1rem;
  left: 1rem;
  right: 1rem;
  background: white;
  padding-bottom: 0.5rem;
  transition-duration: 0.3s;
  opacity: 1;
}
.list--controls.hidden {
  transform: translateY(-110%);
  opacity: 0;
}

.list--back {
  border: none;
  border-radius: 10rem;
  color: white;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: #f7b42c;
  background-image: linear-gradient(315deg, #f7b42c 0%, #fc575e 74%);
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.1rem;
  outline: none;
  cursor: pointer;
  padding: 0.3rem;
}
.list--back svg {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.3rem;
}

.list--filter {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  margin-top: 0.5rem;
  padding: 0.4rem;
  color: #263238;
}

.list--filter input {
  border: none;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: #d9e4f5;
  background-image: linear-gradient(315deg, #d9e4f5 0%, #f5e3e6 74%);
  border-radius: 10rem;
  font-family: 'Proza Libre', sans-serif;
  font-size: 1rem;
  padding-left: 2.1rem;
  padding-right: 2.1rem;
  color: #263238;
  outline: none;
}

.list--search-icon {
  z-index: 100;
  width: 1.3rem;
  height: 1.3rem;
  color: #263238;
}

.list--clear-icon {
  z-index: 100;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
  outline: none;
}

.list--clear-icon svg {
  color: #263238;
  width: 1.3rem;
  height: 1.3rem;
}

.list--select-all {
  border: none;
  border-radius: 10rem;
  color: #263238;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: #f7b42c;
  background-image: linear-gradient(315deg, #d9e4f5 0%, #f5e3e6 74%);
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.1rem;
  outline: none;
  cursor: pointer;
  padding: 0.4rem;
  margin-top: 0.5rem;
}
.list--select-all svg {
  width: 1.3rem;
  height: 1.3rem;
  margin-right: 0.4rem;
}
.list--select-all span {
  margin-top: 0.05rem;
}

.list--list {
  align-self: stretch;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  overflow-y: auto;
  flex: 1;
  text-align: left;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.list--item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.3rem;
  color: #90a4ae;
}
.list--item.selected {
  color: #263238;
}
.list--item:nth-child(odd) {
  background: #f5f5f5;
}

.list--click {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
  cursor: pointer;
}

.list--check {
  display: flex;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  margin-right: 1rem;
  margin-left: 0.5rem;
  color: inherit;
}

.list--play {
  display: flex;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  margin-left: 0.5rem;
  color: inherit;
  opacity: 0;
}
.list--item:hover .list--play {
  opacity: 1;
}
.list--play.playing {
  opacity: 1;
}

.list--item button svg {
  width: 1.2rem;
  height: 1.2rem;
  stroke-width: 2px;
}

.quiz--start {
  position: relative;
  border: none;
  border-radius: 10rem;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  background-image: linear-gradient(315deg, #f7b42c 0%, #fc575e 74%);
  transition-duration: 0.3s;
  align-self: center;
  margin: 2rem;
  padding: 1.4rem;
  padding-left: 1.5rem;
  padding-right: 1.3rem;
  font-family: 'Proza Libre', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  outline: none;
}
.quiz--start svg {
  width: 3rem;
  height: 3rem;
  stroke-width: 0.05rem;
}
.quiz--start:after {
  display: block;
  content: '';
  position: absolute;
  left: 0rem;
  top: 0rem;
  right: 0rem;
  bottom: 0rem;
  box-sizing: content-box;
  border-radius: 10rem;
  transition-duration: 0.3s;
  border: 0.1rem solid rgba(255, 255, 255, 0);
}
.quiz--start:hover:after,
.quiz--start:focus:after {
  border: 0.1rem solid rgba(255, 255, 255, 1);
  left: 0.3rem;
  top: 0.3rem;
  right: 0.3rem;
  bottom: 0.3rem;
}

.quiz--empty {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quiz--label {
  margin: 0;
  text-align: left;
  align-self: flex-start;
  margin-top: 1rem;
  font-family: 'Proza Libre', sans-serif;
  font-size: 0.7rem;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 0.1rem;
  padding-left: 1rem;
  color: #263238;
}

.quiz--control {
  border: none;
  border-radius: 10rem;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-image: linear-gradient(315deg, #f7b42c 0%, #fc575e 74%);
  align-self: stretch;
  font-family: 'Proza Libre', sans-serif;
  font-size: 1rem;
  font-weight: 300;
}

.quiz--plus-minus {
  border: none;
  background: none;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  padding: 0.3rem;
}
.quiz--plus-minus svg {
  width: 1.5rem;
  height: 1.5rem;
}

.quiz--size {
  width: 2rem;
  text-align: center;
  font-family: 'Proza Libre', sans-serif;
  font-size: 1rem;
  font-weight: 600;
}

.quiz--max-size {
  padding: 0.3rem 1rem;
  align-self: stretch;
  border-radius: 10rem;
  border: none;
  background: none;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: 0.1rem solid white;
  margin: -0.1rem;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 600;
}

.quiz--space {
  flex: 1;
}

.player--answer {
  position: relative;
  margin: 1rem 0;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.player--answer input {
  font-family: 'Proza Libre', sans-serif;
  font-size: 1rem;
  width: 100%;
  font-weight: 900;
  text-align: center;
  color: white;
  outline: none;
  padding: 0.7rem;
  border-radius: 5rem;
  border: none;
  background-color: #36096d;
  background-image: linear-gradient(50deg, #36096d 0%, rgb(95, 77, 215) 74%);
}
.player--answer input::placeholder {
  font-weight: 100;
  color: rgba(255, 255, 255, 0.8);
}
